
// экран официанта
.card-design {
  background-color: rgb(242, 242, 242);
}
.menu-color {
  background-color: rgb(255, 236, 169);
}
.canvas-color {
  background-color: rgb(182, 182, 182);
}
.order-number {
  color: darkgreen;
}
.icon {
  height:  40px;
}

.table {
  width: 100px;
  background-color: rgb(242, 242, 242);
}

.table-service {         // столик забронирован
  background-color: rgb(183, 255, 152);
}

.go-list {  // карточка в гоу листе
  border: solid 2px rgb(145, 241, 0);
  background-color: rgb(219, 255, 225);
}

.stop-list {   // карточка в стоп листе
  border: solid 2px rgb(255, 0, 0);
  background-color: rgb(255, 219, 219);
}

.price-button {
  width: 80px;
}